version: 2
updates:
  - package-ecosystem: gomod
    directories:
      - "/"
      - "/test"
      - "/examples"
    schedule:
      interval: monthly
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
