language: go

sudo: false

go:
  - "1.11.x"
  - "1.12.x"
  - "1.13.x"
  - "1.14.x"
  - "1.15.x"

services:
  - mysql
  - postgresql

before_install:
  - go get golang.org/x/tools/cmd/cover
  - go get github.com/mattn/goveralls

before_script:
  - mysql -e 'CREATE DATABASE IF NOT EXISTS sql_adapter_test;'
  - psql -c 'CREATE DATABASE sql_adapter_test;' -U postgres

script:
  - go test -v -covermode=count -coverprofile=coverage.out
  - $HOME/gopath/bin/goveralls -coverprofile=coverage.out -service=travis-ci
