name: Tests

on: [push, pull_request]

env:
  TEST_DATABASE_NAME: sqladapter_test
  TEST_DATABASE_USER: blank
  TEST_DATABASE_PASSWORD: Sql-adapter_test

jobs:
  test-all:
    name: test-all
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
        go:
          - '1.25.x'
          - '1.24.x'
        mysql:
          - '8.0'
        postgres:
          - '15'
        sqlserver:
          - '2022-CU18-ubuntu-22.04'

    runs-on: ${{ matrix.os }}

    services:
      mysql:
        image: mysql:${{ matrix.mysql }}
        env:
          MYSQL_DATABASE: ${{ env.TEST_DATABASE_NAME }}
          MYSQL_ROOT_PASSWORD: ${{ env.TEST_DATABASE_PASSWORD }}
          MYSQL_USER: ${{ env.TEST_DATABASE_USER }}
          MYSQL_PASSWORD: ${{ env.TEST_DATABASE_PASSWORD }}
        ports:
          - 3306:3306

      postgres:
        image: postgres:${{ matrix.postgres }}
        env:
          POSTGRES_DB: ${{ env.TEST_DATABASE_NAME }}
          POSTGRES_USER: ${{ env.TEST_DATABASE_USER }}
          POSTGRES_PASSWORD: ${{ env.TEST_DATABASE_PASSWORD }}
        ports:
          - 5432:5432

      sqlserver:
        image: mcr.microsoft.com/mssql/server:${{ matrix.sqlserver }}
        env:
          ACCEPT_EULA: "Y"
          MSSQL_DB: ${{ env.TEST_DATABASE_NAME }}
          MSSQL_SA_PASSWORD: ${{ env.TEST_DATABASE_PASSWORD }}
          MSSQL_USER: ${{ env.TEST_DATABASE_USER }}
          MSSQL_PASSWORD: ${{ env.TEST_DATABASE_PASSWORD }}
        ports:
          - 1433:1433

    steps:
      - name: 00_Checkout_Code
        uses: actions/checkout@v6

      - name: 01_Prepare_DBs
        run: |
          docker exec $(docker ps -q -f ancestor=mcr.microsoft.com/mssql/server:${{ matrix.sqlserver }}) /bin/bash < test/init.sqlserver.sh

      - name: 02_Install_go_${{ matrix.go }}
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}

      - name: 03_Run_Tests
        run: |
          make run-unit-test
          make run-e2e-test

      - name: 04_Send_Coverage
        uses: shogo82148/actions-goveralls@v1
        with:
          path-to-profile: coverage.out
          flag-name: Go-${{ matrix.go }}
          parallel: true

  finish:
    needs:
      - test-all
    runs-on: ubuntu-latest
    steps:
      - uses: shogo82148/actions-goveralls@v1
        with:
          parallel-finished: true

  semantic-release:
    needs:
      - test-all
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Release
        if: github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npx semantic-release@21.0.2
